# Auto detect text files and perform LF normalization
* text=auto eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=4

# Standard to msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain


# Custom for Visual Studio
*.cs     text diff=csharp
*.sln    text merge=union
*.csproj text merge=union
*.vbproj text merge=union
*.fsproj text merge=union
*.dbproj text merge=union


##################################################################
# Unity YAML
#
# Use Unity's semantic merge tool "Smart Merge"
# to assist in merging Unity-specific files.

# Un-comment the following lines to enable.
#
*.physicsMaterial	merge=unityyamlmerge	eol=lf
*.physicsMaterial2D	merge=unityyamlmerge	eol=lf
*.controller	merge=unityyamlmerge	eol=lf
*.anim	merge=unityyamlmerge	eol=lf
*.asset	merge=unityyamlmerge	eol=lf
*.mat	merge=unityyamlmerge	eol=lf
*.meta	merge=unityyamlmerge	eol=lf
*.unity	merge=unityyamlmerge	eol=lf
*.prefab	merge=unityyamlmerge	eol=lf
